extends layout

block content
    .content_section
        .content_title='Libraries'
        .content_text
            p
                a(href='http://www.jsgl.org/doku.php') JSGL
                |  - Used to produce the game "Reaction".
        .content_title='Development Tools'
        .content_text
            TODO
        .content_title='References'
        .content_text
            p.
                Images:
            ul.content_list
                li: a(href='http://game-tracker.net/uploads/posts/2015-02/1423226096_skachat-quake-3-arena-torrent-1.jpg') Banner
                li: a(href='https://upload.wikimedia.org/wikipedia/en/8/89/Quake_III_Arena_q3dm0.png') Mirror Example
                li: a(href='http://www.developer.com/imagesvr_ce/3977/Figure01.png') HTML5 Layout
            p.
                References
            ul.content_list
                li: a(href='http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page') Footer Positioning