extends layout

block content
    .content_section
        .content_title='Repositories'
        .content_text
            p
                a(href='https://github.com/xenium21/project2') Project GitHub repository.
        .content_title='Libraries'
        .content_text
            p
                a(href='http://www.jsgl.org/doku.php') JSGL
                |  - Used to produce the game "Reaction".
            p
                a(href='https://jquery.com/') jQuery
                |  - Used in the POST and GET process of the web server.
            p
                a(href='http://getbootstrap.com/javascript/') Bootstrap
                |  - Requirement for jQuery, used in the backend.
            p
                a(href='http://passportjs.org/') PassportJS
                |  - A useful user Login system.
        .content_title='Development Tools'
        .content_text
            p
                a(href='https://www.sublimetext.com/') Sublime Text
                |  - Text editor of choice.
        .content_title='References'
        .content_text
            p.
                Images:
            ul.content_list
                li: a(href='http://game-tracker.net/uploads/posts/2015-02/1423226096_skachat-quake-3-arena-torrent-1.jpg') Banner
                li: a(href='https://upload.wikimedia.org/wikipedia/en/8/89/Quake_III_Arena_q3dm0.png') Mirror Example
                li: a(href='http://www.developer.com/imagesvr_ce/3977/Figure01.png') HTML5 Layout
            p.
                References:
            ul.content_list
                li: a(href='http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page') Footer Positioning.
                li: a(href='http://www.bogotobogo.com/MEAN-Stack/MEAN-Stack-MongoDB-ExpressJS-AngularJS-NodeJS-Authentication-Passport-App.php') Using PassportJS with Node.JS.
                li: a(href='https://goocreate.com/learn/a-simple-database-driven-high-score-list/') Help in understanding MongooseDB and how a AJAX POST works.
                li: a(href='http://www.zertz.ca/handling-multiple-databases-and-connections-with-mongoose/') Assist in understanding multiple underlying connection.