extends layout

block content
    .content_section
        .content_title='Site design'
        .content_text
            p.
                TODO
        .content_title='Architecture'
        .content_text
            p.
                TODO
        .content_title='Problems'
        .content_text
            p.
                TODO