extends layout

block content
    .content_section
        .content_title='HTML5'
        .content_text
            p.
                HTML5 is the next generation of the markup language aimed at supporting the next generation of web sites. It offers a more structured back-end to allow the manipulation of HTML for your web site to be easier to develop, understand and view.
            p
                img(class='content_image', alt='layout' src='images/html.png')
            p.
                This web site was constructed using some aspects of HTML5 such as the footer and header tags, but the aim was to create one that is viewable across legacy browsers as well. With this in mind, the site was constructed using older features, such as the use of div tags to create the layout. This allowed the CSS content to be controlled easier and create an efficient web page. 
            p.
                Some features such as having a footer stay at the bottom of the screen could only be achieved by using div tags. It is also not recommended to substitute the section tag introduced in HTML5 for div.