extends layout

block content
	.content_section
		.content_title='Quake III'
		.content_text
			p
				| Quake III is a fast paced arena shooter brought to you by id software. It was released in 1999, and requires a Pentium II @ 266MHz, 64MB and a 4MB video card, making this game accessible for everyone.
			p
				| The main objective of an arena shooter is to out-skill your opponent in the art of control and speed. Having fast aim is key to success in the world of Quake.
		.content_title='id Tech 3'
		.content_text
			p
				|  Designed by the famed computer programmer John Carmack, id Tech 3 was the power behind Quake III. The next step in 3D engines at the time, boasting a myriad of new features such as dynamic lighting, advanced shading, volumetric fog, etc. A lot of work and effort was placed into this engine, such as the famous use of the extremely simple algorithm to compute a fast inverse square root to speed up rendering.
			img(class='content_image', alt='mirror', src='images/mirror.png')